*{
    margin: 0;
    padding: 0;
    border: border-box;
    font-family: sans-serif;
}

body{
    background-color: #077349;
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 180px;
    
   
}

.register{
    border: 0px solid #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 8px 0px;
    height: 470px;
    width: 500px;
    background-color: #fff;
}

h1{
    margin-top: 12px;
    text-align: center;
}

h4{
    text-align: center;
    margin-top: 10px;
    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif;
}

.input-group{
    position: relative;
    margin-left: 10px;
    margin-top: 15px;
}

label{
    font-size: 1.1rem;
    font-weight: 500;
    /* margin-top: 57px; */
    /* margin: auto; */
}

.input{
    height: 30px;
    width: 95%;
    outline: none;
    border: 0px solid #ddd;
    background-color: #ddd;
}

.input[type=text],input[type=password]{
    padding: 5px;
    font-size: 1rem;
    font-weight: 50;
    /* border: 0px solid #ddd; */
    background: #f1f1f1;
    outline: none;
}

.parah{
    text-align: center;
    margin: 15px;
    font-size: 0.9rem;

    a{
        text-decoration: none;
    }
}

.button{
    height: 40px;
    width: 95%;
    margin-left: 10px;
    color: #fff;
    font-size: 1.1rem;
    font-family: 200;
    cursor: pointer;
    border-radius: 40px;
    border: 0px solid black;   
    background-color: black;
}

.parah2{
    text-align: center;
    margin-top: 10px;
    
    a{
        text-decoration: none;
    }
}

