*{
    margin: 0;
    padding: 0;
    border: border-box;
    font-family: sans-serif;
}

body{
    background-color: #077349;
}


form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    
   
}

.login{
    border: 0px solid #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 8px 0px;
    height: 300px;
    width: 300px;
    background-color: #fff;
}

h2{
    margin-top: 10px;
    text-align: center;
}

.icons{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    margin-top: 10px;
    margin-right: 30px;
    
}

.icons a{
    text-decoration: none;
    color: black;
    margin-left: 0.3rem;   
}

.icons a:hover{
    text-decoration: underline;
}

.input-group{
    position: relative;
    margin-top:5px;
    margin-bottom: 15px;
    margin-left: 20px;
    margin-right: 35px;
   
}

.input{
    width: 100%;
    height: 30px;
    /* border-radius: 40px; */
    margin-top: 12px;
    outline: transparent;
    border: 0px solid transparent;
    border-bottom: 2px solid black;
    /* gap: 8px; */
}

/* .input input:focus~lebel
.input input:focus~lebel{
    top: -5px;
} */



.input-group .icon{
    position: absolute;
    margin-right: 1rem;
    line-height: 57px;
    

}

.middle {
   margin: -8px 0px 15px;
   font-size: .8em;
   display: flex;
   justify-content: space-between;
}

.middle label input{
    margin-left: 15px;
}

.middle a{
    text-decoration: none;
    color: black;
    margin-right: 15px;
}

.middle a:hover{
    text-decoration: underline;
    color: blue;
}

.button{
    height: 35px;
    width: 90%;
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 200;
    border: 0px solid black;
    border-radius: 40px;
    background-color: black;
    margin-left: 15px;
    margin-right: 20px;
}

.parah{
    margin-top: 15px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 1rem;
    font-weight: 200;
    a{
        text-decoration: none;
    }

}
